<div *ngIf="sale" class="card_container">
  <mat-card>
    <div class="header_container">
      <div>
        <p><strong>Promotor: </strong> {{ sale.user.name | uppercase }}</p>
        <p *ngIf="sale.client">
          <strong>Cliente: </strong> {{ sale.client.name | uppercase }}
          {{ sale.client.surname | uppercase }}
        </p>

        <p *ngIf="!sale.client">
          <strong>Cliente: </strong> No se asigno ningun cliente a esta venta
        </p>
        <p><strong>Fecha: </strong> {{ sale.date | date: "fullDate" }}</p>
        <p>
          <strong>Total venta: </strong> {{ sale.total | currency: "Bs. " }}
        </p>
      </div>
      <mat-chip-list>
        <mat-chip [color]="colorStatus" selected>{{ sale.status }}</mat-chip>
      </mat-chip-list>
    </div>
    <mat-card-content>
      <div
        *ngFor="let detail of sale.saleDetails"
        class="product_stock_container"
      >
        <div class="product_stock_image">
          <img [src]="detail.product.image" alt="" />
        </div>

        <div class="product_stock_description">
          <p>
            <strong>{{ detail.product.name | uppercase }}</strong>
          </p>
          <p><strong>Cantidad: </strong> {{ detail.cant }}</p>
          <p><strong>Precio unitario: </strong> {{ detail.precio_unitario }}</p>
          <p>
            <strong>Subtotal: </strong> {{ detail.subtotal | currency: "Bs. " }}
          </p>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <ng-container
        *ngIf="
          (isAdmin || isAlmacenero || isPromotor) && sale.status === 'PENDIENTE'
        "
      >
        <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
          <button mat-raised-button color="warn" (click)="cancelled()">
            ANULAR
          </button>
          <button mat-raised-button color="primary" (click)="approve()">
            APROBAR
          </button>
        </div>
      </ng-container>
    </mat-card-actions>
  </mat-card>
</div>
