<div
  class="product_container"
  *ngIf="product.cant > product.cant_out + product.cant_returned"
>
  <div class="product_header">
    <h2>{{ product.product.name | uppercase }}</h2>
    <h3>{{ product.product.price | currency: "Bs." }}</h3>
    <h3>Disponibles: {{ product.cant - product.cant_out }}</h3>
  </div>

  <div class="image_container">
    <img [src]="product.product.image" [alt]="product.product.name" />
  </div>

  <div class="footer_container">
    <mat-form-field appearance="outline">
      <mat-label>Motivo de la devolucion</mat-label>
      <textarea matInput [formControl]="descriptionInput"></textarea>
    </mat-form-field>
    <button mat-raised-button color="primary" (click)="returns()">
      Devolver
    </button>
  </div>
</div>
