.expenses_container {
  //   margin: 1.5rem;
}

.mat-row .mat-cell {
  border-bottom: 1px solid transparent;
  border-top: 1px solid transparent;
  cursor: pointer;
}

.mat-row:hover .mat-cell {
  border-color: currentColor;
}

.mat-column-name {
  flex: 0 0 47%;
  justify-content: start;
}

.mat-column-surname {
  flex: 0 0 47%;
  justify-content: start;
}
