.image_container {
  height: 200px;
  width: 200px;
  img {
    border-radius: 1rem;
    max-height: 100%;
    width: auto;
    overflow: hidden;
  }
}

.product_container {
  background-color: red;
  width: 250px;
  height: 250px;
}
