<mat-card *ngIf="client" style="margin-top: 1rem">
  <mat-card-header>
    <mat-card-title>{{ client.name | uppercase }}</mat-card-title>
    <mat-card-subtitle>
      Promotor encargado: {{ client.user?.name }}
    </mat-card-subtitle>
  </mat-card-header>
  <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="16px">
    <div class="image_container">
      <img
        *ngIf="client.image === 'www.noimage.com'"
        src="assets/no-user.svg"
        alt="photo"
      />
      <img
        *ngIf="client.image !== 'www.noimage.com'"
        [src]="client.image"
        alt="photo"
      />
    </div>
    <mat-card-content>
      <h2>Datos del cliente</h2>
      <p>
        <strong>Nombre del negocio: </strong>
        {{ client.trade_name | uppercase }}
      </p>

      <p>
        <strong>Tipo del negocio: </strong>
        {{ client.type | uppercase }}
      </p>

      <p>
        <strong>Punto de venta: </strong>
        {{ client.sale_point | uppercase }}
      </p>
      <p>
        <strong>Propietario: </strong> {{ client.name | uppercase }}
        {{ client.surname | uppercase }}
      </p>
      <p>
        <strong>NIT: </strong>
        {{ client.identification_number | uppercase }}
      </p>
      <p>
        <strong>DIRECCIÓN:</strong>
        {{ client.address | uppercase }}
      </p>

      <p><strong>Encargado: </strong> {{ client.person_charge }}</p>
      <p>
        <strong>Teléfono encargado: </strong> {{ client.phone_person_charge }}
      </p>
      <p><strong>TELÉFONOS: </strong></p>
      <mat-chip-list #chipList aria-label="Fruit selection">
        <mat-chip *ngFor="let phone of phones">
          {{ phone }}
        </mat-chip>
      </mat-chip-list>
    </mat-card-content>
  </div>

  <mat-card-actions *ngIf="auth">
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
      <button
        mat-raised-button
        *ngIf="isPromotor"
        color="primary"
        routerLink="../edit"
        style="width: 10rem"
      >
        EDITAR
      </button>
    </div>
  </mat-card-actions>
</mat-card>
