<form
  [formGroup]="form"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="8px"
>
  <app-products-image formControlName="image"></app-products-image>
  <mat-error *ngIf="invalidField('image')">{{ imageError }}</mat-error>
  <mat-form-field appearance="fill">
    <mat-label>Nombre</mat-label>
    <input matInput placeholder="producto" type="text" formControlName="name" />
    <mat-icon matSuffix color="primary">title</mat-icon>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Código</mat-label>
    <input matInput placeholder="cod001" type="text" formControlName="code" />
    <mat-icon matSuffix color="primary">vpn_key</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Precio</mat-label>
    <input matInput placeholder="100" type="number" formControlName="price" />
    <mat-icon matSuffix color="primary">price_change</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Descripción</mat-label>
    <textarea
      matInput
      placeholder="JUAN"
      type="text"
      formControlName="description"
    ></textarea>

    <mat-icon matSuffix color="primary">description</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Procentaje de utilidad</mat-label>
    <input
      matInput
      placeholder="50"
      type="number"
      min="0"
      max="999999"
      formControlName="profit"
    />
    <mat-icon matSuffix color="primary">inventory_2</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Categoria</mat-label>
    <mat-select formControlName="categoryId">
      <mat-option [value]="category.id" *ngFor="let category of categories">
        {{ category.name }}
      </mat-option>
    </mat-select>
    <mat-hint align="end">Campo obligatorio ^</mat-hint>
  </mat-form-field>

  <button type="button" (click)="onSubmit()" mat-raised-button color="primary">
    Guardar
  </button>
</form>
