<mat-card *ngIf="category" style="margin-top: 1rem">
  <mat-card-header>
    <mat-card-title>{{ category.name | uppercase }}</mat-card-title>
  </mat-card-header>
  <div fxLayout="row" fxLayoutAlign="space-around start" fxLayoutGap="16px">
    <div class="image_container">
      <img src="assets/category.svg" alt="create" />
    </div>
    <mat-card-content>
      <h2>Datos de la categoria</h2>
      <p><strong>Nombre: </strong> {{ category.name | uppercase }}</p>
      <p><strong>Código: </strong> {{ category.code | uppercase }}</p>
      <p>
        <strong>Descripción: </strong> {{ category.description | uppercase }}
      </p>
    </mat-card-content>
  </div>

  <mat-card-actions>
    <div fxLayout="row" fxLayoutAlign="end center" fxLayoutGap="16px">
      <button
        mat-raised-button
        color="primary"
        routerLink="../edit"
        style="width: 10rem"
      >
        EDITAR
      </button>
    </div>
  </mat-card-actions>
</mat-card>
