<mat-nav-list fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <div class="sidenav_logo">
    <img src="assets/logo.jpeg" alt="logo" />
  </div>

  <button
    mat-stroked-button
    *ngIf="isAdmin || isAlmacenero"
    [routerLink]="['/products']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    PRODUCTOS
  </button>

  <button
    mat-stroked-button
    *ngIf="isAdmin"
    [routerLink]="['/users']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    USUARIOS
  </button>

  <button
    mat-stroked-button
    *ngIf="isPromotor"
    [routerLink]="['/promotor-product']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    MIS PRODUCTOS
  </button>

  <button
    mat-stroked-button
    *ngIf="isPromotor || isAdmin"
    [routerLink]="['/clients']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    MIS CLIENTES
  </button>

  <button
    mat-stroked-button
    *ngIf="isAdmin"
    [routerLink]="['/categories']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    CATEGORÍAS
  </button>
  <button
    mat-stroked-button
    *ngIf="isPromotor || isAdmin"
    [routerLink]="['/sales']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
    [matBadge]="salesPendings"
    [matBadgeHidden]="salesPendings === 0"
    matBadgePosition="after"
    matBadgeColor="accent"
  >
    {{ isPromotor ? "MIS VENTAS" : "VENTAS REALIZADAS" }}
  </button>

  <button
    mat-stroked-button
    [routerLink]="['/reload']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
    [matBadge]="reloadPendings"
    [matBadgeHidden]="reloadPendings === 0"
    matBadgePosition="after"
    matBadgeColor="accent"
  >
    {{ isPromotor ? "MIS RECARGAS" : "RECARGAS DE REALIZADAS" }}
  </button>

  <button
    mat-stroked-button
    *ngIf="isPromotor"
    [routerLink]="['/add-stock']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    SOLICITAR RECARGA
  </button>

  <button
    mat-stroked-button
    *ngIf="isPromotor"
    [routerLink]="['/sell']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    REALIZAR VENTA
  </button>

  <button
    mat-stroked-button
    [routerLink]="['/returns']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
    [matBadge]="returnsPendings"
    [matBadgeHidden]="returnsPendings === 0"
    matBadgePosition="after"
    matBadgeColor="accent"
  >
    DEVOLUCIONES
  </button>

  <button
    mat-stroked-button
    *ngIf="isAdmin || isAlmacenero"
    [routerLink]="['/report']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    REPORTES
  </button>
</mat-nav-list>
