<mat-nav-list fxLayout="column" fxLayoutAlign="start center" fxLayoutGap="16px">
  <button
    mat-flat-button
    *ngIf="isAdmin || isAlmacenero"
    [routerLink]="['/products']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    PRODUCTOS
  </button>

  <button
    mat-flat-button
    *ngIf="isAdmin"
    [routerLink]="['/users']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    USUARIOS
  </button>

  <button
    mat-flat-button
    *ngIf="isPromotor"
    [routerLink]="['/promotor-product']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    MIS PRODUCTOS
  </button>

  <button
    mat-flat-button
    *ngIf="isPromotor || isAdmin"
    [routerLink]="['/clients']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    MIS CLIENTES
  </button>

  <button
    mat-flat-button
    *ngIf="isAdmin"
    [routerLink]="['/categories']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    CATEGORIAS
  </button>
  <button
    mat-flat-button
    *ngIf="isPromotor || isAdmin"
    [routerLink]="['/sales']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    {{ isPromotor ? "MIS VENTAS" : "VENTAS REALIZADAS" }}
  </button>

  <button
    mat-flat-button
    [routerLink]="['/reload']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    {{ isPromotor ? "MIS RECARGAS" : "RECARGAS DE REALIZADAS" }}
  </button>

  <button
    mat-flat-button
    *ngIf="isPromotor"
    [routerLink]="['/add-stock']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    HACER UNA RECARGA
  </button>

  <button
    mat-flat-button
    *ngIf="isPromotor"
    [routerLink]="['/sell']"
    routerLinkActive="active"
    [routerLinkActiveOptions]="{ exact: false }"
  >
    HACER UNA VENTA
  </button>
</mat-nav-list>
