<form
  [formGroup]="form"
  fxLayout="column"
  fxLayoutAlign="start center"
  fxLayoutGap="8px"
  (ngSubmit)="onSubmit()"
>
  <mat-form-field appearance="fill">
    <mat-label>CÓDIGO</mat-label>
    <input matInput placeholder="producto" type="text" formControlName="code" />
    <mat-icon matSuffix color="primary">title</mat-icon>
    <mat-hint>Campo obligatorio</mat-hint>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>CANTIDAD</mat-label>
    <input
      matInput
      placeholder="100"
      type="number"
      min="1"
      formControlName="cant"
    />
    <mat-icon matSuffix color="primary">inventory</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>PRECIO</mat-label>
    <input
      matInput
      placeholder="100"
      type="number"
      min="1"
      formControlName="price"
    />
    <mat-icon matSuffix color="primary">money</mat-icon>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de registro</mat-label>
    <input matInput [matDatepicker]="picker" formControlName="register" />
    <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
    <mat-datepicker #picker></mat-datepicker>
  </mat-form-field>

  <mat-form-field appearance="fill">
    <mat-label>Fecha de vencimiento</mat-label>
    <input matInput [matDatepicker]="picker2" formControlName="expiry" />
    <mat-datepicker-toggle matSuffix [for]="picker2"></mat-datepicker-toggle>
    <mat-datepicker #picker2></mat-datepicker>
  </mat-form-field>

  <button type="submit" mat-raised-button color="primary">Guardar</button>
</form>
