/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.active {
  background-color: #4d566f;
  color: white;
}

h2 {
  color: #4d566f;
}

form {
  mat-form-field,
  button {
    width: 80%;
  }
}

p {
  strong {
    color: #4d566f;
  }
}

.edit_title_container {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-right: 10%;
  margin-left: 10%;
}
